#Définir un nom
name: CI

#Définir les triggers
on: 
    push:
        branches: [main]

jobs:
    #Définir un runner
    build: 
        runs-on: ubuntu-latest
        #pip line
        steps:
            #1-Récuperer le code
            - name: Récuperer le code source
              uses: actions/checkout@v5
            #-2 exécuter les tes
            - name: Run test
              run: cd app && composer install && cp .env.example .env && php artisan key:gen && php artisan test
            #3- Construire l'image
            - name: Build app image
              run: docker build -t christianfdd/laravelcicd:latest .
